<div class="container-fluid fixed-top bg-dark py-3">
    <div class="row collapse show no-gutters d-flex h-100 position-relative">
        <div class="col-2 navbar-collapse collapse d-md-flex">
            <!-- spacer col -->
        </div>
        <div class="col-9 px-3 px-md-0">
            <!-- toggler -->
            <a data-toggle="collapse" href="#" data-target=".collapse" role="button" class="p-1" style="color: white;">
                <span class="navbar-toggler-icon">navtogle</span>
            </a>
        </div>
        <div class="col-1 text-right " style="color: white;">
            
            <span type="button" data-toggle="dropdown">
                <i class="fa fa-user fa-lg" style="text-align: right;"></i>
            </span>
              <div class="dropdown-menu ">
               
                <a class="dropdown-item " href="#">My Profile</a>
                <a class="dropdown-item" href="index.html">logout</a>
             
              </div>

        </div>
    </div>
</div>
<div class="container-fluid px-0 h-100">
    <div class="row vh-100 collapse show no-gutters d-flex h-100 position-relative">
        <div class="col-2 p-0 vh-100 h-100 text-white w-sidebar navbar-collapse collapse d-none d-md-flex sidebar">
            <!-- fixed sidebar -->
            <div class=" bg-dark position-fixed h-100 w-sidebar p-1">
                <div class="container text-center" style="height: 10%;">
                    <h1>TAJ</h1>
                </div>
               
                <ul class="nav flex-column flex-nowrap ">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white; font-size: 22px;" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white; font-size: 22px;" href="registerFamily.html">Register Family</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10 p-3">
            <div class="container">
                <div class="jumbotron text-center">
                <h1 style="font-weight: 800;"> Dashboard </h1></div>
                <div class="table-responsive">
                <table class="table table-bordered  table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th>Sr No.</th>
                        <th>Family Head</th>
                        <th>Room No. Alloted</th>
                        <th>Current Status</th>
                        <th>Actions </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>zeus</td>
                        <td>104</td>
                        <td> Occupied </td>
                        <td>
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-clock"></i>
                            <i class="fa fa-cut"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>harsh Jain</td>
                        <td>108</td>
                        <td>Checked Out</td>
                        <td>
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-clock"></i>
                            <i class="fa fa-cut"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Vridang</td>
                        <td>208</td>
                        <td>Vacant</td>
                        <td>
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-clock"></i>
                            <i class="fa fa-cut"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

       </div>
    </div>
</div>