<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Hotel Management System</h3>
        </div>
        <ul class="list-unstyled components">
            <p>Provider</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#"> Home 1 </a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/register">Family Registration</a>
            </li>
        </ul>

    </nav>
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarcollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle here</span>
            </button>
        </div>
    </nav>
<br><br>
<router-outlet></router-outlet>
<!-- <app-register-family></app-register-family> -->
<!-- <div class="line"></div> -->
</div>



</div>
